.TransposeSelect {
  width: 100px;
  position: fixed;
  margin: 0;
  bottom: 2.5rem;
  right: 2.5rem;
}

.MomentWrapper {
  display: flex;
  flex-direction: row;
}

.PrevMoment {
  position: fixed;
}

.CurrentMoment {
  position: fixed;
  left: 11.5rem;
}

.Suggestions {
  margin-left: 23rem;
}

.Keyboard {
  position: fixed;
  right: 1.5rem;
  top: 1.5rem;
  height: 100vh;
  width: 600px;
}
.Key {
  display: inline-block;
  width: 45px;
  text-align: center;
  margin: 2.5px;
  border-radius: 3px;
  border: 1px solid transparent;
  user-select: none;
}
.Key.active {
  background-color: white;
  border-color: #e5e5e5;
}
