@font-face {
  font-family: 'Bravura';
  font-weight: normal;
  font-style: normal;
  src: url(./assets/fonts/bravura.eot);
  src: url(./assets/fonts/bravura.eot) format('embedded-opentype'),
    url(./assets/fonts/bravura.woff2) format('woff2'),
    url(./assets/fonts/bravura.woff) format('woff'),
    url(./assets/fonts/bravura.svg) format('svg');
}

html {
  background-color: #f5f5f5;
}

body {
  margin: 0;
  padding: 0;
  font-family: Futura, sans-serif;
}

ul {
  list-style-type: disc;
  margin: 0 1em;
}

p {
  margin-bottom: 1rem;
}

select,
button,
input {
  font-family: Futura, sans-serif;
}

select,
input[type='text'] {
  font-size: 1em;
  line-height: 1.5em;
}

* {
  box-sizing: border-box;
}

:focus {
  outline: none;
}
