.Moment {
  width: 10rem;
  background-color: white;
  margin: 1.5rem 0 0 1.5rem;
  height: 15rem;
  overflow: hidden;
  border-radius: 3px;
  border: solid #e5e5e5 1px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  user-select: none;
}

.Moment.disabled {
  visibility: hidden;
  opacity: 0.8;
}

.Moment.disabled *:not(.Staff) {
  visibility: hidden;
}

.Moment.playing {
  box-shadow: inset 3px 3px 0px gold, inset -3px -3px 0px gold;
  border: none;
}

.Moment.current:hover:before,
.Moment.previous.clickable:hover:before,
.Moment.next.clickable:hover:before {
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: white;
  text-align: center;
  line-height: 14.5rem;
}
.Moment.current:hover:before,
.Moment.next.clickable:hover:before {
  content: ' ';
  box-shadow: inset 3px 3px 0px gold, inset -3px -3px 0px gold;
}

.Moment.current:hover {
  border-width: 0;
}

.Moment.previous.clickable:hover:before {
  content: '⟵';
  background-color: rgba(0, 0, 0, 0.75);
  /* box-shadow: inset 3px 3px 0px gold, inset -3px -3px 0px gold; */
}

.MomentDebugToggle {
  position: absolute;
  bottom: 0;
  right: 0;
}

.Count {
  position: absolute;
  padding: 0 0.5rem;
  right: 0;
  bottom: 0;
  font-size: 10px;
  opacity: 0.5;
}

.Staff.disabled {
  visibility: hidden;
}
