.Moment {
  width: 10rem;
  background-color: white;
  margin: 2.5rem;
  height: 20rem;
  overflow: hidden;
  border-radius: 3px;
  border: solid #e5e5e5 1px;
  position: relative;
}

.MomentDebugToggle {
  position: absolute;
  bottom: 0;
  right: 0;
}
