.Moment {
  width: 10rem;
  background-color: white;
  margin: 1.5rem 0 0 1.5rem;
  height: 15rem;
  overflow: hidden;
  border-radius: 3px;
  border: solid #e5e5e5 1px;
  position: relative;
}

.MomentDebugToggle {
  position: absolute;
  bottom: 0;
  right: 0;
}

.Count {
  position: absolute;
  padding: 0 0.5rem;
}
